<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TBPS Pisa Local DB</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f9; margin: 0; padding: 20px;"></body>

    <div style="max-width: 600px; margin: auto; background: white; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 8px;">
        <h1 style="text-align: center; color: #333;">TBPS Pisa Local DB</h1>
        <ul style="list-style-type: none; padding: 0;">
            <li style="margin: 10px 0;">
                <a href="static/connections.html" style="display: block; text-decoration: none; color: white; background-color: #007BFF; padding: 10px 20px; border-radius: 5px; text-align: center;">Map of connections</a>
            </li>
            <li style="margin: 10px 0;">
                <a href="static/connect_cables.html" style="display: block; text-decoration: none; color: white; background-color: #007BFF; padding: 10px 20px; border-radius: 5px; text-align: center;">Connect cables</a>
            </li>
            <li style="margin: 10px 0;">
                <a href="static/disconnect_cables.html" style="display: block; text-decoration: none; color: white; background-color: #007BFF; padding: 10px 20px; border-radius: 5px; text-align: center;">Disconnect cables</a>
            </li>
            <li style="margin: 10px 0;">
                <a href="static/logbook.html" style="display: block; text-decoration: none; color: white; background-color: #007BFF; padding: 10px 20px; border-radius: 5px; text-align: center;">LogBook</a>
            </li>
            <li style="margin: 10px 0;">
                <a href="static/insert_cables.html" style="display: block; text-decoration: none; color: white; background-color: #007BFF; padding: 10px 20px; border-radius: 5px; text-align: center;">Insert cables</a>
            </li>
        </ul>
    </div>

</body>
</html>
